td {
  border: solid black 1px;
}

table {
  width: 80%;
  /* display: flex; */
  margin-left: 10%;

}

body {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}